body {
    background-color: #000000;
    margin: 0px;
    overflow: hidden;
}

#info {
    color: #fff;
    position: absolute;
    left:50px;
    top: 20%;
    width: 20%;
    text-align: center;
    z-index: 100;
    display:block;

}

a { color: skyblue }
.button { background:#999; color:#eee; padding:0.2em 0.5em; cursor:pointer }
.highlight { background:orange; color:#fff; }

.toolbar{
    background-color:#e0e0e0;
}
.title{
    width:100%;
    text-align:center;
}
.sub-title{
    margin-left:2%;
}
.file-wrapper{
    background-color: white;
    padding:5px;
}
.user-file-btn{
    margin-top:3%;
    width:100%;

}